<div class="users-container">

    <div class="d-md-flex h-md-100 align-items-center">
  
    
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Avatar</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr user = "user">
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.avatar }}</td>
            <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
    <div>
    <button type="button" (click)="clicked()">Back to Users</button>
    </div>

  </div>